@import url("https://fonts.googleapis.com/css?family=Arvo");
body,
html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background: #f5f4f4;
  font-size: 13px;
  font-family: 'Arvo', monospace;
}

@supports (display: grid) {
  body,
  html {
    display: block;
  }
}

.message {
  border: 1px solid #d2d0d0;
  padding: 2em;
  font-size: 1.7vw;
  -webkit-box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
          box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
}

@supports (display: grid) {
  .message {
    display: none;
  }
}

.section {
  display: none;
  padding: 2rem;
}

.section .main {
  min-height: 400px;
  background-image: url("../img/lena-rose-491551-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: .8;
}

.section .main .text {
  font-size: 6rem;
  text-align: center;
  padding: 10rem;
  font-family: 'Curier New', Courier, monospace;
  font-weight: 900;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 4rem;
  }
}

@supports (display: grid) {
  .section {
    display: block;
  }
}

h1 {
  font-size: 2rem;
  margin: 0 0 1.5em;
}

.grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 150px;
  grid-auto-flow: row dense;
}

.item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #0c9a9a;
  color: #fff;
  -ms-grid-column: auto;
      grid-column-start: auto;
  -ms-grid-row: auto;
      grid-row-start: auto;
  color: #fff;
  background: url("../img/lena-rose-491551-unsplash.jpg");
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
          box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  cursor: pointer;
}

.item:nth-of-type(1n) {
  background-image: url("../img/img1.jpg");
}

.item:nth-of-type(2n) {
  background-image: url("../img/359464._SX1280_QL80_TTD_.jpg");
}

.item:nth-of-type(3n) {
  background-image: url("../img/Batman-The_Killing_Joke_(film).jpg");
}

.item:nth-of-type(4n) {
  background-image: url("../img/black-panther-marvel.jpg");
}

.item:nth-of-type(5n) {
  background-image: url("../img/Spider-Man-City-at-War.jpg");
}

.item:nth-of-type(6n) {
  background-image: url("../img/359464._SX1280_QL80_TTD_.jpg");
}

.item:nth-of-type(7n) {
  background-image: url("../img/Action_Comics_1.jpg");
}

.item:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.item:hover:after {
  opacity: 0;
}

.item--medium {
  -ms-grid-row-span: 2;
      grid-row-end: span 2;
}

.item--large {
  -ms-grid-row-span: 3;
      grid-row-end: span 3;
}

.item--full {
  grid-column-end: auto;
}

@media screen and (min-width: 768px) {
  .item--full {
    grid-column: 1/-1;
    -ms-grid-row-span: 2;
        grid-row-end: span 2;
  }
}

.item__details {
  position: relative;
  z-index: 1;
  padding: 15px;
  color: #444;
  background: #fff;
  text-transform: lowercase;
  letter-spacing: 1px;
  color: #828282;
}

.item__details:before {
  font-weight: bold;
  font-size: 1.1rem;
  padding-right: 0.5em;
  color: #444;
}
/*# sourceMappingURL=style.css.map */